<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add a patient to Doctor</h3>
                        <form th:action="@{/adminController/addPatientToDoctor}" th:object="${doctor} " method="post">

                            <input type="hidden" th:field="${doctor.idDoctor}" />

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
<!--                                        <input type="text" th:field="${doctor.name}"  th:value="${doctor.name}" id="firstName" class="form-control form-control-lg"  />-->
<!--                                        <label class="form-label" for="firstName">Nombre</label>-->
                                        <h4 class="h4" th:text="${doctor.name}"></h4>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
<!--                                        <input type="text" th:field="${doctor.lastname}" th:value="${doctor.lastname}" id="lastName" class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="lastName">Apellido</label>-->
                                        <h4 class="h4" th:text="${doctor.lastname}"></h4>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">

                                    <select th:field="${patient.idPatient}" class="select form-control-lg" >

                                        <option th:each="paciente : ${patientsList}"
                                                th:value ="${paciente.idPatient}"
                                                th:text="${paciente.name}"
                                                th:selected="true"
                                        />

                                    </select>

                                    <label class="form-label select-label">Select one patient</label>
                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Guardar" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>